h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
    border: 2px solid;
    background-color: black;
}

.menu {
    display: flex;
}

.menu div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1;/*flex-grow, flex-shrink, flex-basis */
} 

.menu .steak {
    background-color: green;
    flex: 1 1 200px;
}

.menu .salmon {
    flex: 1 1 200px;
    background-color: red;
}

/* button {
    background-color: blue;
    color:antiquewhite;
    padding: 25px;
} */

body {
    background-color: rgb(224, 105, 62);
}

#Rocko {
    padding: 50px;
    border: 5px solid black;
    margin-left: 400px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 75%);
    box-sizing: border-box;
    width: 500px;
}